@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --brand-main: #c090ff;
  --brand-main-dark: #ae72fc;
  --brand-accent-one: #d1ebf0;
  --brand-accent-one-dark: #dbd3ef;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --color-brand-main: var(--brand-main);
  --color-brand-main-dark: var(--brand-main-dark);
  --color-brand-accent-one: var(--brand-accent-one);
  --color-brand-accent-one-dark: var(--brand-accent-one-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-geist-sans);
}
